<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script Referrer-Policy: no-referrer-when-downgrade src="https://accounts.google.com/gsi/client" async defer></script>
        <link rel="stylesheet" href="/public/css/style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 

        <title>Tela Inicial</title>
    </head>
    <body>
        <div class="conteudo-inicial">
            <div class="barra-lateral">
                <img class="logo" src="../public/img/wwAsset6.png">
                <h2>Contatos</h2>
                <div class="div-1">
                    <div>
                        <% for(let i = 0; i < listaUsuarios.length; i++) {%>
                        <form id='<%= i %>' class="form">
                            <input type="submit" name="to" value='<%= listaUsuarios[i].name[0].toUpperCase() + listaUsuarios[i].name.substr(1) %>'></>
                            <input type="hidden" name="emailTo" value='<%= listaUsuarios[i].email %>'</>
                            <i class="fa fa-ellipsis-vertical"></i>
                        </form>
                        <% } %>
                    </div>   
                </div>
                
                <h2>Grupos</h2>
                <div class="div-1">
                    <div>
                        <% for(let i = 0; i < listaGrupos.length; i++) {%>
                        <form class="form">
                            <input type="submit" name="to" value='<%= listaGrupos[i].name[0].toUpperCase() + listaUsuarios[i].name.substr(1) %>'></>
                            <i class="fa fa-ellipsis-vertical"></i>
                        </form>
                        <% } %>
                    </div>  
                </div>
                
                <div class="div-2">
                    <div><img id="userImg" src="<%= avatarImg %>" height="60px" width="60px" style="border-radius: 5px;"></div>
                    <input id="user" name="user" required="required" type="text" placeholder="Usuário" readonly/>
                    <input id="email" name="email" required="required" type="text" placeholder="E-mail" readonly/>
                    <% if(auth == 'databaseAuth'){ %>
                        <form id="formAltSenha" method="GET" action="/trocarSenha">
                            <input type="text" name="auth" value="databaseAuth" hidden>
                            <div class="psswd">
                                <button id="psswd">Alterar senha</button>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
            
            <div class="barra-superior">
                <a title="Criar Grupo"><i class="fa-solid fa-users"></i></a>
                <% if(auth == 'databaseAuth'){ %>
                <a href="/selecioneAvatar" title="Avatar"><i class="fa-solid fa-user-pen"></i></a>
                <% } %>
                <a href="/logOut" title="LogOut"><i class="fa-solid fa-door-open"></i></a>
                <form id="chat" class="div-mensagens">
                    <div class="texto-mensagens"></div>
                    <div class="input-mensagens">
                        <input name="toDo" value='' hidden></>
                        <input type="text" name="mensagem" placeholder="Digite uma mensagem..." autocomplete="off">
                        <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.getElementById("user").value = '<%= usuario %>';
            document.getElementById("email").value = '<%= email %>';
        </script>

    <!-- Socket.Io -->
    <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- JS -->
    <script src="/public/js/chat.js"></script>
    <script src="/public/js/app.js"></script>
    <!-- Ícones -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    </body>
</html>